
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f9f9f9;
}

img{
    height: 15vh;
    margin-left: 15px;
    align-self: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}


form {
    background-color: #f9f9f9;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.Usuario, .Senha {
    margin-bottom: 15px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0099ff;
    border-radius: 6px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    border: 1px solid #0099ff;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #0099ff;
    color: white;
}


@media screen and (max-width: 768px) {
    form{
        width: 340px;
        padding: 20px;
        visibility: hidden;
    }

    img{
        width: 30%;
    }

    h1, label, input, button{
        visibility: visible;
    }

    button{
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    }

    
}